<div class="bg-slate-700 shadow-lg w-1/2 rounded-2xl flex-column px-8 pt-6 pb-8 mb-4 mx-auto signUp-form">
    {{!-- <div class="mb-4">
        <a
            class=" text-center transform transition duration-200 items-center flex bg-slate-300 m-auto w-auto hover:scale-110 hover:shadow-md hover:bg-blue-700 rounded-lg text-white border-2 border-slate-800 "
            href="../update">
            Update
        </a> --}}
        <h1 class="block text-slate-200  font-bold mb-2">
            {{singlePost.title}}
        </h1>

    </div>
    <div class="mb-4">
        <h3 class="block text-slate-200 mb-2 h-1/5">
            {{singlePost.body}}
        </h3>
        <div class="border-slate-200 border-2 rounded-lg">
            {{#if comments}}
            {{#each comments as |comment|}}
            <div class="border-slate-200 border-2 rounded-full p-5 m-5">
                <h3>
                    {{user.username}}
                </h3>
                <h4 class="text-slate-200 ">
                    {{comment.comment}}
                </h4>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div class="bg-slate-700 shadow-lg w-1/2 rounded-2xl flex-column px-8 pt-6 pb-8 mb-4 mx-auto border-slate-200 border-2 pt-5"
            id="commentForm">
            <div class="mb-4">
                <label class="block text-slate-200 text-sm font-bold mb-2" for="titleOutput">
                    {{posts.title}}
                </label>
            </div>
            <div class="mb-4">
                <label class="block text-slate-200 text-sm font-bold mb-2 h-1/5" for="bodyOutput">
                    {{posts.body}}
                </label>
            </div>
            <label class="block text-slate-200 text-sm font-bold mb-2" for="commentinput">
                Comment
            </label>
            <input
                class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-blue-400 focus:outline-none focus:shadow-outline"
                id="commentInput" placeholder="type your comment here">
            <button id="commentButton"
                class=" text-center transform transition duration-200 items-center flex bg-slate-300 m-auto w-auto hover:scale-110 hover:shadow-md hover:bg-blue-700 rounded-lg text-white border-2 border-slate-800 "
                type="button">
                +<br>Add Comment
            </button>
        </div>


        <script src="/js/comment.js"></script>